@{
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>لینک</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg></a></li>
                    <li class="breadcrumb-item">رسانه ها </li>
                    <li class="breadcrumb-item active">لینک
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card col-md-12 mt-5">
    <div class="card-body">
        <div class="card-header" style="margin-top: -30px;">
            <h5>اطلاعات لینک
            </h5>
        </div>
        <div class="panel panel-danger">
            <div class="mt-5">
                <form asp-action="PutALink" method="post" class="needs-validation user-add"
                    enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>عنوان زیرمجموعه</label>
                        <input value="@ViewBag.Link" name="link" class="form-control col-xl-8 col-md-7"
                            id="validationCustom0" type="text">
                    </div>
                    <div class="pull-right mt-3">
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                        <a href="/Admin/SocialApps" class="btn btn-light">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Product').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ProductImage").change(function () {
        readURL(this);
    });
</script>
}